body{
    background: linear-gradient(to right,rgba(235,232,241,255),rgb(193, 218, 186));
}
.nav-name{
    margin-top: 10px;
     width: 800px;

     align-items: right;
    color: brown;
}
.img
{
    margin-left: 0px;
    height: 170px;


}
.dept{
    color: black;
}

h3{
    font-size: xx-large;
}
.nac{
    color: azure;
    margin-left: 300px;
    margin-top: 110px;
}
.head{
    background-color: black;
    display: flex;
   
    height: 170px;
}

    h3 span{
        width: auto;
    display: inline-block;
    animation: animate 1s linear forwards;
    }
    @keyframes animate{
    0%{
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
    }
    100%{
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0px);
    }
    }
    h3 span:nth-child(1)
    {
    animation-delay:1s;
    }
    h3 span:nth-child(2)
    {
    animation-delay:2s;
    }
    h3 span:nth-child(3)
    {
    animation-delay:2.5s;
    }
    h3 span:nth-child(4)
    {
    animation-delay:3s;
    }
    h3 span:nth-child(5)
    {
    animation-delay:3.5s;
    }
    h3 span:nth-child(6)
    {
    animation-delay:4s;
    }
    h3 span:nth-child(7)
    {
    animation-delay:4.5s;
    }
    h3 span:nth-child(8)
    {
    animation-delay:5s;
    }
    .naac
    {
        margin-right: -300px;
       width: 10px;
    }

    .college{
        display: flex;
       
    }
  
     
    .slider {
        margin: 75px 25px;
        margin-left: 10px;
        width: 100%;
        height: 610px;
        position: relative;
       }
    .slider ul{
        margin-top: -55px;
       
    }
   .dept{
    font-size: 20px;
    text-align: center;
    
   }
   .dept:hover{
    font-size: 36px;
    font-weight: 70;
    color: darkorange;
    transition-duration: 2s;
     }
    .infor{
        border: 1px solid blue;
        box-shadow: 0px 20px 10px -20px rgba(0,0,0,0.45) inset,
-20px 0px 10px -20px rgba(0,0,0,0.45) inset;

   
    background-color: rgb(180, 180, 180);
    color: #3f3333;
    border-radius: 10px;
    box-shadow: 0px 20px 10px -20px rgba(144, 85, 85, 0.45) inset,
-20px 0px 10px -20px rgba(0,0,0,0.45) inset;
height: 800px;

    }
    #para{
        font-size: 20px;
        width: 800px;
        margin-left: 450px;
        
        color: rgb(66, 66, 145);
        text-align: center;
        
        
       
        
       

        

    }

    .add{
        
        height: 100px;
        background-color: rgb(31, 34, 184);
        text-align: center;
        color: bisque;
       }
       .add2{
        color:beige;
       }
      

