
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background: #081b29;
    color: #ededed;
}

h1 {
    color: #00abf0;
}

h2 {
    color: #004080;
}

p {
    color: #666;
}

.term {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.term:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
