body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #081b29;
}
h1{
    color: #00abf0;
}

header {
    background-color: #081b29;
    
    color: white;
    text-align: center;
    padding: 1em;
}
section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #cecccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;


  }
  h2 {
    
    color: #00abf0;
    
  }
  .btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height:100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #00abf0;

}
/*make the inside content of box empty*/
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
/*for 2 box*/
.btn-box a:nth-child(2)::before{
    background:#00abf0 ;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
/*here we hover the B color that present inside box*/ 
.btn-box a:hover::before{
    width: 100%;
}
